<% @title = "Home" %>

<% if !signed_in? %>
    <!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://imgur.com/an004Ge.jpg" alt="First slide" class='img-responsive'>
          <div class="container">
            <div class="carousel-caption">
              <h1 id="homeCarouselH1">Welcome to Taylor Pickadates!</h1>
              <p>We're glad you're here!</p>
              <%= button_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="http://imgur.com/1zFWUm4.jpg" alt="Second slide" class='img-responsive'>
          <div class="container">
            <div class="carousel-caption">
              <h1 id="homeCarouselH1">Pickadate information</h1>
              <p>Find anything and everything you need to know in one place!</p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="http://imgur.com/RISyycc.jpg" alt="Third slide" class='img-responsive'>
          <div class="container">
            <div class="carousel-caption">
              <h1 id="homeCarouselH1">Facebook Sign-in</h1>
              <p>Sign in with Facebook for instant access!</p>
              <%= button_to "Sign in!", "/auth/facebook", :class => 'btn btn-lg btn-primary' %>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#homeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#homeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


<% else %>

#idea - This should be a dashboard.. It could tell you your upcoming pickadates... how many you have been on... other...stats?
<div class="center hero-unit">
  <h1>Welcome <%=current_user.username%> to Taylor University Pickadates!</h1>

  <h2>
    This is the central location for all of your pickadate needs!
  </h2>

  <%= link_to "Check out some dates!", pickadates_path, class: "btn btn-large btn-primary" %>
</div>


#Idea - the next 3 upcoming dates in the three placeholders below

<div class="row">
<% nextthreedates.each do |date| %>
        <div class="col-lg-4">
          <h3><%= link_to date.title, date %></h3>
          <p><%= date.description %></p>
          <%= link_to "View Details", date, class: "btn btn-primary" %>
        </div>
  <%end%>
</div>
<% end %>