<% if @date.errors.any? %>
    <div class="alert alert-danger"> 
      <p>The form contains <%= pluralize(@date.errors.count, "error") %>.</p>
    </div>
    <ul>
      <% @date.errors.full_messages.each do |message| %>
      <li class="text-danger"> <%= message %> </li>
      <% end %>
    </ul>
<% end %>

<div class='form-group'>
  <%= f.label :title, "Title*" %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class='form-group'>
	<%= f.label :location, "Location*" %>
	<%= f.text_field :location, class: 'form-control' %>
</div>

<div class='form-group'>
  <%= f.label :time, "Time of Event*" %>
  <%= f.datetime_field :time, class: 'form-control'%>
</div>

<div class='form-group'>
  <%= f.label :description, "Description*" %>
  <%= f.text_field :description, class: 'form-control' %>
</div>

<div class='form-group'>
  <%= f.label :rating, "rating (out of 5)*" %>
  <%= f.select :rating, 1..5, {}, class: 'form-control' %>
</div>

<div class='form-group'>
  <%= f.label :floor, "Floor*" %>
  <%= f.select :floor, ['Foundation','Sammy II','Broho','Penthouse','First Berg','Sigma Beta','3rd Berg',
                        '4th Berg','1WW','2WW','3WW','2CW','3CW','1EW','2EW','3EW','1EO','2EO','3EO','2CO',
                        '3CO','1WO','2WO','3WO','2G','3G','Foso','1st Breu','2nd Breu','3rd Breu'], {}, class: 'form-control' %>
</div>







