<% @title = "All Dates" %>

<h1>All Dates</h1>
<h3>I want to list all upcoming dates sorted by soonest date</h3>

<% if @pickadates.length>0 %>
<table class="users">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Floor</th>
    <th>Location</th>
    <th>Time</th>
  </thead>
  <% @pickadates.each do |date| %>
    <tr class='userRow'>
      <td width='80px'>
        Picture Placeholder
      </td>
      
      <td><%= link_to date.title, date %></td>
      
      <td><%=date.floor.name%> <%=date.floor.dorm.name%></td>
      <td><%=date.location%></td>
      <td><%=date.time.strftime("%B %e at %l:%M%p") %></td>
      
      <a href=<%= user_path(date) %></a>
  <% end %>
</table>
<% end %>


      

      

      


<% if current_user.pa? %>
<div class='buttonrow'><%= button_to "Create a Date", new_pickadate_path, :class => "btn btn-primary buttonrow", :method => :get %></div>
<% end %>