<% @title = @date.title %>

<div class="row">
    <div class="col-xs-12">
      <div><% if current_user == @creator %><%= link_to "Edit Date", edit_pickadate_path(@date), "class" => "btn btn-primary pull-right" %><%end%></div>
          <div class="jumbotron">

            <h1><%= @date.title %></h1>
            
            <p>
                <!--
                Date Planner:  <%= @creator.firstname + " " + @creator.lastname %>
                <% if @creator.pictureurl==nil %>
                <%= image_tag("http://imgur.com/1qXcMaY.jpg", class: 'profilePicture', height: "200", align: 'left')%>
                <% else %>
                <%= image_tag(@creator.pictureurl, class: 'profilePicture', height: "200", align: 'left') %>              
                <%end%>
                -->

               <%= @date.description %>
              
              
              <% if current_user.floor == @date.floor %>
              <div class="pull-right">
              <button class="btn btn-default" id="yes" >Attending</button>
              <button class="btn btn-default" id="maybe" >Maybe</button>
              <button class="btn btn-default" id="no">Eh... No.</button>
              </div>
              <%end%>
              
            </p>
          </div>

          <div class="col-lg-8" id="pickadateinfo">
            <div class="row">
                <div class='row'>
                    <div class="col-6 col-sm-6 col-lg-6 panel panel-primary">
                      <h2 class="panel panel-heading">Floor</h2>
                      <p class="well well-sm"><%= @date.floor.name %></p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-6 panel panel-primary">
                      <h2 class="panel panel-heading">Location</h2>
                      <p class="well well-sm"><%= @date.location %></p>
                    </div><!--/span-->
                 </div>
                 <div class="row">
                    <div class="col-6 col-sm-6 col-lg-6 panel panel-primary">
                      <h2 class="panel panel-heading">Time</h2>
                      <p class="well well-sm"><%= @date.time.strftime("%B %e at %l:%M%p") %></p>
                    </div><!--/span-->
                </div>
               </div>
            </div>
      
           <div class="col-lg-4 panel panel-primary" id="pickadateusers">
              <h2 class="panel panel-heading">Users</h2>
             <h4 class="well well-sm">Number of People Invited: <%= @date.users.length%></h4>
             <table class="well well-sm">
               <% @date.users.all.each do |user| %>
               <tr>
                 <td><%= link_to user.username, user %></td>
                 <td><%= user.user_pickadates.where(pickadate_id: params[:id]).first.rsvpstatus %></td>
               </tr>
               <%end%>
             </table>
             
           </div><!--/span-->
              
          </div><!--/row-->
</div>
