<% @title = @date.title %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @date.title %>
      </h1>
      <p>Location: <%= @date.location %></p>
      <p>Time: <%= @date.time %></p>
      <p>Description: <%= @date.description %></p>
      <p>Floor: <%= @date.floor %></p>
      <p>Owner:  <%= @date.owner %></p>
    </section>
  </aside>
</div>
