<% @title = "All Users" %>

<h1>All Users</h1>
<h3>I want to have a search thing here and filter by different things (eg. Major, Floor, etc.)</h3>
<%= will_paginate @users %>

<table class="table table-hover">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Floor</th>
    <th>Major</th>
    <th>Class Of</th>
  </thead>
  <% @users.each do |user| %>
    <tr class='userRow'>

       <td width='80px'>
        <% if user.pictureurl==nil %>
        <%= image_tag("http://imgur.com/1qXcMaY.jpg", class: 'profilePicture', height: "50", align: 'left')%>
        <% else %>
        <%= image_tag(user.pictureurl, class: 'profilePicture', height: "50", align: 'left') %>              
        <%end%>
      </td>
      
      <td>
        <a href=<%= user_path(user) %></a>
        <%= link_to user.username, user %>
        <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure you want to delete #{user.username}?" } %>
        <% end %>
      </td>
      
      <td><%=user.floor.name%></td>
      
      <td><%=user.major%></td>
      <td><%=user.year%></td>
      
    </tr>
    <% end %>
</table>

<%= will_paginate @users %>
