<% @title = @user.username + "'s" + " Profile"%>




<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <%= @user.username %>
      </h1>
      <p><%= @user.email %></p>
      <p>uid: <%= @user.uid %></p>
      <p>First Name: <%= @user.firstname %></p>
      <p>Last Name: <%= @user.lastname %></p>
      <p>Email: <%= @user.email %></p>
      <p>Hometown: <%= @user.hometown %></p>
      <p>Relationship Status: <%= @user.relationshipstatus %></p>
      <p>About Me: <%= @user.aboutme %></p>
      <p>Age: <%= @user.age %></p>
      <p>Graduating Year: <%= @user.year %></p>
      <p>Major: <%= @user.major %></p>
    </section>
  </aside>
</div>
