<% @title = @user.username + "'s" + " Profile"%>

<div class="row">

    <div class="col-xs-12">
          <div class="jumbotron" id="userShowJumbotron">
            <h1><%= @user.firstname + ' ' + @user.lastname %> <% if @user.pa? %>| PA <%end%> </h1>
            <p>
                <% if @user.pictureurl==nil %>
                <%= image_tag("http://imgur.com/1qXcMaY.jpg", class: 'profilePicture', height: "200", align: 'left')%>
                <% else %>
                <%= image_tag(@user.pictureurl, class: 'profilePicture', height: "200", align: 'left') %>              
                <%end%>

                <%= @user.aboutme %>
            </p>
          </div>
          <div class="row" id='showitems'>
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Residence</h2>
              <p class="well well-sm"><%= @user.floor.name %> <%= @user.floor.dorm.name %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Major | Class Of </h2>
              <p class="well well-sm"><%= @user.major %> | <%= @user.year %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Age</h2>
              <p class="well well-sm"><%= @user.age %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Email</h2>
              <p class="well well-sm"><%= @user.email %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Hometown</h2>
              <p class="well well-sm"><%= @user.hometown %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Relationship Status</h2>
              <p class="well well-sm"><%= @user.relationshipstatus %></p>
            </div><!--/span-->
          </div><!--/row-->
        </div>
</div>