<% @title = @user.username + "'s" + " Profile"%>

<div class="row">

    <div class="col-xs-12">
		 <div><% if current_user == @user %><%= link_to "Edit Profile", edit_user_path(@user), "class" => "btn btn-primary pull-right" %><%end%></div>
          <div class="jumbotron" id="userShowJumbotron">
            <h1><%= @user.firstname + ' ' + @user.lastname %> <% if @user.pa? %>| PA <%end%> </h1>
            <p>
                <% if @user.pictureurl==nil %>
                <%= image_tag("http://imgur.com/1qXcMaY.jpg", class: 'profilePicture', height: "200", align: 'left')%>
                <% else %>
                <%= image_tag(@user.pictureurl, class: 'profilePicture', height: "200", align: 'left') %>              
                <%end%>

                <%= @user.aboutme %>
            </p>

			<% if @user != current_user %>
						<button href="#dateModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Invite</button>
			<%end%>	 
          </div>	
          <div class="row" id='showitems'>
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Residence</h2>
              <p class="well well-sm"><%= @user.floor.name %> <%= @user.floor.dorm.name %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Major | Class Of </h2>
              <p class="well well-sm"><%= @user.major %> | <%= @user.year %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Age</h2>
              <p class="well well-sm"><%= @user.age %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Email</h2>
              <p class="well well-sm"><%= @user.email %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Hometown</h2>
              <p class="well well-sm"><%= @user.hometown %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Relationship Status</h2>
              <p class="well well-sm"><%= @user.relationshipstatus %></p>
            </div><!--/span-->
          </div><!--/row-->
        </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
				<table class="table table-hover">
				  <thead>
					 <th>Pickadate Name</th>
					 <th>Floor</th>
					 <th>Location</th>
					 <th>Time</th>
					 <th></th>
				  </thead>
					<% @pickadates.each do |date| %>
						 <tr class='userRow'>
							<td><%=date.title%></td>
							<td><%=date.floor.name%></td>
							<td><%=date.location%></td>
							<td><%=date.time%></td>
							<td><button class='btn btn-primary btn-sm' value="<%= date.id %>" id="userInvite">Invite!</button></td>
						 </tr>
					 <% end %>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>