<% @title = @user.username + "'s" + " Profile"%>

<div class="row">

    <div class="col-xs-12">
          <div class="jumbotron">
            <h1><%= @user.firstname + ' ' + @user.lastname %>'s Profile</h1>
        <p>
              <% if @user.pictureurl==nil %>
              <%= image_tag("http://imgur.com/1qXcMaY.jpg", class: 'profilePicture', height: "200", align: 'left')%>
              <% else %>
              <%= image_tag(@user.pictureurl, class: 'profilePicture', height: "200", align: 'left') %>              
              <%end%>
            
           <%= @user.aboutme %></p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Major</h2>
              <p class="well well-sm"><%= @user.major %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Year</h2>
              <p class="well well-sm">Class of <%= @user.year %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Age</h2>
              <p class="well well-sm"><%= @user.age %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Email</h2>
              <p class="well well-sm"><%= @user.email %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Hometown</h2>
              <p class="well well-sm"><%= @user.hometown %></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4 panel panel-primary">
              <h2 class="panel panel-heading">Relationship Status</h2>
              <p class="well well-sm"><%= @user.relationshipstatus %></p>
            </div><!--/span-->



          </div><!--/row-->
        </div>
</div>