<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= include_gon %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
	<%= render 'layouts/header'%>
    <div id="user_nav">
      <% if current_user %>
        Signed in as <strong><%= current_user.username %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
    
    
    
		 <% flash.each do |level, message| %>
      		<div class="alert alert-<%= level %>"%><%= message %></div>
    	<% end %>
		
		<%= yield %>	
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
